@import "reset";
@import "variables";
@import "mixins";

#main-nav {
  background: $deepBlue;
  ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq(600px, 200px) {
      flex-direction: column;
    }
  }
  a {
    color: $offWhite;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 20px 4vw;
    border-bottom: 2px solid rgba(#000000, 0);
    &:hover {
      // & before pseudoclasses means "the same element"
      border-bottom: 2px solid $lightBlue;
      color: $lightBlue;
    }
  }
} // end main-nav

// for clearing floats? if you set li float left (originally in the tutorial, I used flex for the container)
// #main-nav ul::after {
//   content: "";
//   display: block;
//   clear: both;
// }

section h1 {
  font-size: $sectionHeading;
  color: $deepBlue;
}

.lead-banner {
  @include banner;
  text-align: right;
}

.lessons-banner {
  @include banner;
  ul {
    padding: 40px 0;
    @include mq(600px) {
      padding-top: 10px;
    }
  }
  li {
    text-transform: uppercase;
    font-size: 20px;
    max-width: 500px;
    @include mq(600px) {
      font-size: 14px;
    }
  }
}

// services section

#services {
  ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 40px;
    @include mq(600px) {
      flex-direction: column;
    }
  }
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 60%;
    margin: 20px 20%;
    @include mq(600px) {
      width: 40%;
    }
  }
  a {
    text-decoration: none;
    color: $deepBlue;
    font-weight: bold;
    &:hover {
      color: darken(invert($deepBlue), 16);
      text-decoration: underline;
    }
  }
}

// projects section

#projects {
  margin-bottom: 60px;
  ul {
    @include grid(4, 6px);
  }
  img {
    width: 100%;
  }
}
